.header {
  height: 50px;
  background-color: #dd5d3c;
  // background-color: cornflowerblue;

  p {
    margin: 0;
    line-height: 50px;
    color: white;
    margin-left: 2vh;
    font-size: 25px;
    font-weight: bold;
  }
}
